= show_for @animalito do |a|
  = a.attributes :name, :categoria_id, :born_on, :female, :problemas
  = link_to "Edit", edit_animalito_path(@animalito)
  |
  = link_to "Destroy", @animalito, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", animalitos_path
